#g {
  background-color: green;
  
}
#y {
  background-color: yellow;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}
#o {
  background-color: orange;
  width: 100%;
  display:flex;
  flex-wrap: nowrap;
}

h1{
    color: white;
    text-align: center;
}
#main{
    margin-left: 35%;
    border: 5px solid white;
    height: 200px;
}
ol{
    color: white;
    font-size: larger;
}
#one{
height: 100px;
width: 114px;
}
#two{
    height: 100px;
}
#three{
    height: 100px;
}

